<h1>Edit Rating</h1>

<%= form_for([@item, @rating]) do |f| %>
    <%# <%= f.number_field :stars, min:1, max:5 %> 
    <div id="rating-form">
        <label>Rating</label>
    </div>
    <%= f.submit %>
<% end %>

<script>
$('#review-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>