<h1> All Items </h1>
<br><br>

<% if @items.blank? %>

    <h2>No Items yet. Add an item <%= link_to "here", new_item_path%></h2>

<% else %>
  <%= render partial: "items", locals: {items: @items} %>

<% end %>