<h1>Item show page</h1><br><br>
<h3><%= @item.item_name %></h3><br><br>
<p><%= @item.item_description %></p>

<%= link_to "Edit", edit_item_path(@item) %>
<%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } %>